/*!
 * Mastertech - 3 Col Portfolio
 * Insira seu código entre os comentários localizados no fim desta pagina ou/e
 * Edite o código do layout original
 */


/* Edite o código abaixo para mudar as opções do layout original */


body {
    padding-top: 54px;
    background-color: white;
}

.btn{
  background-color:#7e5bc3!important;
  color:#fff;
}

/*Ajusta o layout de acordo com o tamanho da tela*/
/* @media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
} */

.module-group {
    display: inline-table;
}

/* Inicio do meu CSS */


.btn.btn-default,
.btn.btn-default:focus{
  background-color:#7e5bc3!important;
  color:#fff;
}
/* Fim do meu CSS */
